<%- include('includes/header'); %>

    <main>
        <section class='hero mt-5 mb-5'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-8 mx-auto'>
                        <div class='introduction text-center'>
                            <div class='title'>
                                <h1><%= (contact._id) ? 'Update ' : 'Create ' %>Contact</h1>
                            </div>

                            <div class='subtitle'>
                                <p>Access <a href='/'>Agenda</a> to see all of your contacts!</p>
                            </div>
                        </div>

                        <%- include('includes/messages'); %>

                        <form id='contact' action='/<%= (contact._id) ? `contact/${contact._id}` : 'contact' %>' method='post'>
                            <input type='hidden' name='_csrf' value='<%= csrfToken %>'>

                            <div class='mb-3'>
                                <label for='inputFirstName' class='form-label'>First Name</label>
                                <input value='<%= contact.first_name %>' type='text' class='form-control' id='inputFirstName' name='inputFirstName' />
                            </div>

                            <div class='mb-3'>
                                <label for='inputLastName' class='form-label'>Last Name</label>
                                <input value='<%= contact.last_name %>' type='text' class='form-control' id='inputLastName' name='inputLastName' />
                            </div>

                            <div class='mb-3'>
                                <label for='inputEmail' class='form-label'>Email address</label>
                                <input value='<%= contact.email %>' type='email' class='form-control' id='inputEmail' name='inputEmail'>
                            </div>
                            
                            <div class='mb-3'>
                                <label for='inputPhone' class='form-label'>Phone number</label>
                                <input value='<%= contact.phone %>' type='tel' class='form-control' id='inputPhone' name='inputPhone' />
                            </div>

                            <button type='submit' class='btn btn-primary'><%= (contact._id) ? 'Update ' : 'Create ' %></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('includes/footer'); %>