<%- include('includes/header'); %>

    <main class="mt-5 mb-5">
        <section class='hero mt-3 mb-3'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-8 mx-auto text-center'>
                        <div class='introduction'>
                            <div class='title'>
                                <h1>Agenda</h1>
                            </div>

                            <div class='content'>
                                <p>Welcome to your contact's Agenda!</p>
                            </div>
                        </div>

                        <%- include('includes/messages'); %>
                    </div>
                </div>
            </div>
        </section>

        <section class='contacts mt-3 mb-3'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-8 mx-auto'>
                        <% if(contacts.length > 0 ) { %>

                            <div class='responsive-table'>
                                <table class='table'>
                                    <tr>
                                        <td>First Name</td>
                                        <td>Last Name</td>
                                        <td>Email</td>
                                        <td>Phone</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <% contacts.forEach(contact => { %>
                                        <tr>
                                            <td><%= contact.first_name %></td>
                                            <td><%= contact.last_name %></td>
                                            <td><%= contact.email %></td>
                                            <td><%= contact.phone %></td>
                                            <td><a href='/contact/<%= contact._id %>'>Edit</a></td>
                                            <td><a href='/contact/delete/<%= contact._id %>' class='text-danger'>Delete</a></td>
                                        </tr>
                                    <% }); %>
                                </table>
                            </div>
                            
                        <% } %>
                        
                        <div class='buttons d-flex <%= (contacts.length > 0 ) ? 'justify-content-start' : 'justify-content-center' %>'>
                            <button type='button' class='btn btn-primary'><a href='/contact'>Create Contact</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('includes/footer'); %>